RewriteEngine On

# Yalnızca ana dizindeki veya alt dizinlerdeki dosyalar için URL sonundaki .html'yi gizleme
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# Gelen isteğin sonuna arka planda .html ekleyerek dosyayı bulma
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
